<a href="https://colab.research.google.com/github/SurajKande/Training/blob/master/python_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists: 
    A list is a datatype in python to group values together

### Create a List

In [0]:
# area variables (in square meters)
 hall = 11.25
 kit = 18.0
 liv = 20.0
 bed = 10.75
 bath = 9.50

# Create list areas
 areas =[hall,kit,liv,bed,bath]

# Print areas
 print(areas)    #OUTPUT:

### Create a List with Different Datatypes

In [0]:
# area variables (in square meters)
  hall = 11.25
  kit = 18.0
  liv = 20.0
  bed = 10.75
  bath = 9.50

# Adapt list areas
  areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
  print("printing the vaules of list areas = "+ str(areas))

### Create List of Lists

In [0]:
# area variables (in square meters)
  hall = 11.25
  kit = 18.0
  liv = 20.0
  bed = 10.75
  bath = 9.50

# house information as list of lists
  house = [["hallway", hall],
          ["kitchen", kit],
          ["living room", liv],
          ["bedroom",bed],
          ["bathroom",bath]]

# Print out house
  print("printing the vaules of list house = "+ str(house))

# Print out the type of house
  print(type(house))

### access data in python lists

In [0]:
# Create the areas list
  areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# to Print second element from areas list
  print("second element from areas list "+str(areas[1]))

# to Print last element from areas list
  print(" last element from areas list "+str(areas[-1]))

# to Print the area of the living room
  print(areas[5])

# Sum of kitchen and bedroom area: eat_sleep_area
  eat_sleep_area = areas[3]+areas[7]
  print(eat_sleep_area)

### Slicing and dicing

In [0]:
# Using slicing to create a list downstairs
  downstairs = areas[:6]

# Using slicing to create a list upstairs
  upstairs =areas[6:10]

# Print downstairs and upstairs
  print(downstairs)
  print(upstairs)

# Alternative slicing to create downstairs
  downstairs = areas[:-4]
  
# Alternative slicing to create upstairs
  upstairs = areas[-4:]

### Subsetting lists of lists

In [0]:
#creating the list of list
 x = [['a', 'b', 'c'],['d', 'e', 'f'],['g', 'h', 'i']]   # this is a list which contains 3 lists 

#to access data
  x[1]           #OUTPUT: 'd', 'e', 'f'

 X[2][0]         #OUTPUT: 'g'

 X[2][:2]        #OUTPUT: 'g' 'h'

### Manipulating the list data

In [0]:
# Create the areas list
  areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Change the bathroom area to 10.75
  areas[9] = 10.50

# Change value "living room" to "chill zone"
  areas[4] = "chill zone"

# Add poolhouse data to areas, name the new list as areas_1
  areas_1 = areas + ["poolhouse", 24.5]

# Add garage data to areas_1, name the new list as areas_2
  areas_2 = areas_1 + ["garage", 15.45]

# to delete data in the list
  del(x[1])        #OUTPUT: delets the value at index 1

###Familiar Functions

In [0]:
# Create variables var1 and var2
  var1 = [1, 2, 3, 4]
  var2 = True

# to Print out the type of var1, use Function type(name_of_variable)
  print(type(var1))

# to Print out the length of var1, use Function len(name_of_varibale) 
  print(len(var1))

# Convert var2 to an integer: out2
  out2 = int(var2)

### List Methods

In [0]:
# Consider the list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

#    .index(), to get the index of the first element of a list that matches its input and
#    .count(), to get the number of times an element appears in a list. 
#    .append(), that adds an element to the list it is called on,
#    .remove(), that removes the first element of a list that matches the input, and
#    .reverse(), that reverses the order of the elements in the list it is called on

# To Print out the index of the element 20.0
print(areas.index(20.0))            #OUTPUT: 2

# To Print out how often 9.50 appears in areas
print(areas.count(9.50))            #OUTPUT: 1

# To add the value to the list
areas.append(24.5)

#To reverse the order of the elements in list
areas.reverse()


      # there are many more List methods the above are the basic methods to give an idea

looping over lists

In [0]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for a in house:
    print("the "+str(a[0])+" is " +str(a[1])+" sqm")

#OUTPUT: the hallway is 11.25 sqm
#        the kitchen is 18.0 sqm
#        the living room is 20.0 sqm
#        the bedroom is 10.75 sqm
#        the bathroom is 9.5 sqm

#List comprehensions                                                            
: for building lists in a single line

In [0]:
#example to to create a list using list comprehension
nums = [num for num in range(0,11)]
print(nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
#performing a operation on list and store it in a list
nums = [ 2, 3, 5, 6, 7, 8]
num1 = [num ** 2 for num in nums ]
print(num1)

[4, 9, 25, 36, 49, 64]

In [0]:
#performing a operation on list and store it in a list
nums = [ 2, 3, 5, 6, 7, 8]
num1 = [num > 2 for num in nums ]
print(num1)

[False, True, True, True, True, True]

In [0]:
#creating a pairs 
numbers = [(num1, num2) for num1 in range(0,3) for num2 in range(10, 13) ]    # just like in nested for loop
print(numbers)

[(0, 10), (0, 11), (0, 12), (1, 10), (1, 11), (1, 12), (2, 10), (2, 11), (2, 12)]