<a href="https://colab.research.google.com/github/SurajKande/python-basics/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# to Print the sum of 7 and 10 directly
print(7+10)

17

In [2]:
# Division
print(5 / 8)

0.625

In [0]:
# Addition, subtraction
print(5 + 5)
print(5 - 5)

# Multiplication, division, modulo, and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

# How much is your $100 worth after 7 years?
print(100*(1.1**7))

In [3]:
# Create a variable savings
savings =100

# Print out savings
print(savings)

100

In [4]:
# Create a variable growth_multiplier
growth_multiplier = 1.1

# Calculate result
result = 100*(1.1**7)

# Print out result
print(result)

194.87171000000012

In [0]:
# Create a variable 
desc  = 'compound interest'

# Create a variable profitable
profitable = True

In [5]:
savings = 100
growth_multiplier = 1.1
desc = "compound interest"

# Assign product of growth_multiplier and savings to year1
year1 = 100*1.1

# Print the type of year1
print(type(year1))

# Assign sum of desc and desc to doubledesc
doubledesc = desc +desc

# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

In [6]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) )

I started with $100 and now have $194.87171000000012

In [0]:
# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)

### String Methods

In [8]:
# Consider a string 
place = "poolhouse"

# Use upper() on place:  .upper() converts the whole string into capitals 
place_up = place.upper()
print(place_up)

POOLHOUSE

In [9]:
# Print out the number of o's in variable place:  .count("chr") counts the number of times that chr appeared
print(place.count("o"))

3

###if, elif and else

In [11]:
# Define variables
room = "kit"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10 :
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the kitchen.
medium size, nice!

### While Loop

The while loop is like a repeated if statement. The code is executed over and over again, as long as the condition is True.

In [12]:
# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0 :
        offset -= 1
    else :
        offset += 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

### For loop

In [13]:
# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for i in areas:
    print(i)

11.25
18.0
20.0
10.75
9.5

If you also want to access the index information, so where the list element    
 you're iterating over is located, you can use enumerate()

In [15]:
for a,b in enumerate(areas) :
    print("room " +str(a)+": "+str(b))

room 0: 11.25
room 1: 18.0
room 2: 20.0
room 3: 10.75
room 4: 9.5