<a href="https://colab.research.google.com/github/SurajKande/Training/blob/master/python_tuples_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples are is a also datatype in python unlike the rest of the datatypes 

tuples are immutable i.e values cannot be changed directly

In [0]:
#creating a tuple 
my_tup = (1, 4, 6, 8, 10)

In [0]:
#accessing the tuple values
a = my_tup
print(a)
print(type(a))

(1, 4, 6, 8, 10)
<class 'tuple'>

In [0]:
a, b, c, d, e = my_tup
print(a, b, c, d, e)

1 4 6 8 10

In [0]:
#trying to change the tuple value
my_tup[0] = 2

TypeError: ignored

In [0]:
#to change the tuple value we convert it into a list
my_list = list(my_tup)   #converting the tuple into list
my_list[0] = 2
my_tup = tuple(my_list)   #converting list into tuple
print(my_tup)

(2, 4, 6, 8, 10)