<a href="https://colab.research.google.com/github/SurajKande/Training/blob/master/python_iterators_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Iterators

In [1]:
#iterating over a list 
temp = ['a', 'b', 'c']
for i in temp:
  print(i)

a
b
c

In [3]:
#iterating over a string 
temp1 = "hello world"
for i in temp1:
  print(i)

h
e
l
l
o

w
o
r
l
d

In [4]:
#iterating over a range of numbers
for i in range(10,21):             #syntax: range(<included> , <excluded>)  in the example 21 is excluded
  print(i)

10
11
12
13
14
15
16
17
18
19
20


*   Iterables:  objects that have iter method associated to them, when this iter method is used an iterator object is created is  ex: lists, dictionary, tuples, set, strings , file connections, etc.                                  
[  this is what the for loop used, it creates the iterator object for the iterable and iterates over them using next() method ]                                     

* Iterators:   it is an object that has an method named next() used to get the values consecutively

In [6]:
#example of creating and using an iterator object for string
word = "hello"
it = iter(word)   # iterator obj for the string is created
next(it)          # we pass the iterator obj to the next method, it returns the value consecutively

'h'

In [7]:
next(it)

'e'

In [8]:
next(it)

'l'

In [9]:
next(it)

'l'

In [10]:
next(it)

'o'

In [11]:
next(it)   # when there are no values left it throws an iteration error

StopIteration: ignored

In [14]:
#or to print all at once use star operator
word1 = "world"
it1 = iter(word1)
print(*it1)

w o r l d

In [17]:
#example 1
# Create a list of strings: flash
abcd = ['a', 'b', 'c', 'd']

# Print each list item in flash using a for loop
for item in abcd:
    print(item)

print("  ")
# Print each list item in flash using Iterator
res = iter(abcd)       # creating Iterator 

print(next(res))        # Print each item from the iterator
print(next(res))
print(next(res))
print(next(res))

a
b
c
d

a
b
c
d

In [20]:
# Loop over range(3) and print the values
for i in range(5):
    print(i)

# Create an iterator for range(5)
res1 = iter(range( 5))

print("  ")

# Print the 5 values 
print(next(res1))        # Print each item from the iterator
print(next(res1))
print(next(res1))
print(next(res1))
print(next(res1))

0
1
2
3
4

0
1
2
3
4

###enumerate :                                                            
takes an iterable as an argument an returns a enumerate object   
to access its elements convert it into list                                   
[ output is a list of pairs of items with their index ]                         


*   enumerate() is also a iterable

In [1]:
abcd = ['a', 'b', 'c', 'd']
res = enumerate(abcd)
print(res)

<enumerate object at 0x7f271af4d4c8>

In [2]:
abcd = ['a', 'b', 'c', 'd']
res = enumerate(abcd)
res_list = list(res)
print(res_list)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [3]:
#example to show that enumerate can be iterated
abcd = ['a', 'b', 'c', 'd']
for key, value in enumerate(abcd):
  print(key, value)

0 a
1 b
2 c
3 d

In [4]:
#example to change the index starting value 
abcd = ['a', 'b', 'c', 'd']
for key, value in enumerate(abcd, start = 100):
  print(key, value)

100 a
101 b
102 c
103 d

###zip :                                                            
takes an arbitrary iterables as an argument an returns a zip object   
to access its elements convert it into list                                   
[ output is a list of pairs of items attached ]                         


*   zip() is also a iterable

In [5]:
abcd = ['a', 'b', 'c', 'd']
ABCD = ['A', 'B', 'C', 'D']
res1 = zip(abcd, ABCD)
print(res1)

<zip object at 0x7f271a69c988>

In [6]:
abcd = ['a', 'b', 'c', 'd']
ABCD = ['A', 'B', 'C', 'D']
res1 = list(zip(abcd, ABCD))    #converting into list 
print(res1)

[('a', 'A'), ('b', 'B'), ('c', 'C'), ('d', 'D')]

In [7]:
abcd = ['a', 'b', 'c', 'd']
ABCD = ['A', 'B', 'C', 'D']
num = [1, 2, 3, 4]
res1 = list(zip(abcd, ABCD, num))    #converting into list 
print(res1)

[('a', 'A', 1), ('b', 'B', 2), ('c', 'C', 3), ('d', 'D', 4)]

In [8]:
#example to show that enumerate can be iterated
abcd = ['a', 'b', 'c', 'd']
ABCD = ['A', 'B', 'C', 'D']

for i  in zip(abcd, ABCD):
  print(i)

('a', 'A')
('b', 'B')
('c', 'C')
('d', 'D')

In [10]:
abcd = ['a', 'b', 'c', 'd']
ABCD = ['A', 'B', 'C', 'D']
z = zip(abcd, ABCD)
print(*z)                          # * is used to print all the values at once

('a', 'A') ('b', 'B') ('c', 'C') ('d', 'D')