<a href="https://colab.research.google.com/github/SurajKande/Training/blob/master/python_lambda_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lambda function:                                                               
lambda functions are simple one line functions, by doing this we can write less lines of code.                                                                 
syntax:

```
lambda variables : operations
```
it can take multiple variables to performn an operation on those variables

In [3]:
#example to create lambda function
power =  lambda num, n : num**n
print(power(13, 2))

169

### map() and lambda functions                                                  


*   map() : it takes 2 arguments a function and an object and applies that function over that object [ output : is a map object ]

In [13]:
list = [2, 4, 6, 8, 10]
res = map(lambda a: a*2, list)   # here lambda is the function to perform on list which is an object
print(res)

<map object at 0x7f93fefadc18>

In [28]:
#output of mapfunction is a map object hence convert it into list or tuple to view values
list1 = [2, 4, 6, 8, 10]
res = map(lambda a: a * 2, list1)   
result = tuple(res) 
print(result)

(4, 8, 12, 16, 20)

In [23]:
#output of mapfunction is a map object hence convert it into list or tuple or set to view values
x = [2, 4, 6, 8, 10]
#print(type(list1))
res = map(lambda a: a * 2, x)  
#print(type(res)) 
result = set(res) 
print(result)

{4, 8, 12, 16, 20}

In [26]:
#output of mapfunction is a map object hence convert it into list or tuple or set to view values
x = [2, 4, 6, 8, 10]
#print(type(list1))
res = map(lambda a: a * 2, x)  
#print(type(res)) 
result = list(res) 
print(result)

TypeError: ignored

In [33]:
#observing if we perform any operation
x = [2, 4, 6, 8, 10]
#print(type(list1))
res = map(lambda a: a > 2, x)  
#print(type(res)) 
result = tuple(res) 
print(result)
#output comes out to be a boolean

(False, True, True, True, True)

### filter() and lambda functions                                                  


*   filter() : it takes 2 arguments, offers a way to filter out elements from a list that don't satisfy certain criteria [ output: filter object ]

In [31]:
#output of mapfunction is a filter object hence convert it into list or tuple or set to view values
x = [2, 4, 6, 8, 10]
#print(type(list1))
res = filter(lambda a: a > 2, x)  
#print(type(res)) 
result = tuple(res) 
print(result)

(4, 6, 8, 10)

In [45]:
#observing if we perform any operation
x = [2, 4, 6, 8, 10]
#print(type(list1))
res = filter(lambda a: a * 2, x)  
#print(type(res)) 
result = tuple(res) 
print(result)
#output dosent change since filter function performs filtering

(2, 4, 6, 8, 10)

### reduce() and lambda functions                                                  


*   reduce() : unlike map() and filter(), returns a single value as a result. To use reduce(), you must import it from the functools module.

In [38]:
from functools import reduce
x = [2, 4, 6, 8, 10]
res = reduce(lambda a,b: a + b, x)  
print(res)

30

In [41]:
#observing if we perform any operation
from functools import reduce
x = [2, 4, 6, 8, 10]
result = reduce(lambda a,b: a > b, x)  
print(result)
#output dosent change since filter function performs filtering

False